/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
.vs/config/applicationhost.config
packages/
*.dat
=======
# Add any directories, files, or patterns you don't want to be tracked by version control

