body {
    padding-top: 50px;
}

.base {
    padding: 40px 15px;
    text-align: center;
}

.lead {
    margin-bottom: 0px;    
}

.monitor-header {
    text-align: center;
    padding: 20px;
    font-size: 26px;
}

.navbar {
    text-shadow: 0 0 0 0;
}

.monitor-table-header {
    font-weight: normal;
    font-size: 18px;
}

.registrantLabel {
    text-align: left;
}

.registrant-colour1 {
    color: #d2691e;
}

.registrant-colour2 {
    color: #ff8c00;
}

.service-running {
    color: #ccc;
    background-color: #006400;
}

.service-stopped {
    color: #ccc;
    background-color: #a00000;
}

.service-starting {
    color: #000;
    background-color: #d2691e;
}

.service-unknown {
    color: #222;
    background-color: #2f4f4f;
}

.btn {
    border: initial !important;
    text-shadow: initial !important;
}

.btn-danger {
    color: #ddd;
    width: 100%;
}

.btn-success {
    color: #ddd;
    width: 100%;
}

.updateTimeLabel {
    font-weight: normal;
    color: #666;
    font-style: italic;
}

.interval-spinner {
    width: 65px;
    color: #ddd;
    margin-right: 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #272b30;
    border: solid 1px #272b30;
    z-index: 99999;
}

#intervalBlock {
    margin-left: 20px;
    border-left: 1px solid #444;
    padding-left: 15px;
}

.interval-spinner-div {
    float: left;
    margin-top: 2px;    
}

.refresh-interval-label {
    color: #888;
    font-weight: normal;
    margin-top: 6px;
    font-size: 17px;  
}

button.close {
    text-shadow: 0 0 0;
    color: #fff;
    -ms-opacity: 0.5;
    opacity: 0.5
}